@font-face {
    src: url("NotoMono-Regular.ttf");
}
.root{
    -fx-background: #2d2d2d;
}

.button, .buttonUp, .buttonStop{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #4f4f4f;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
    
}
.button:hover, .buttonStop:hover, .buttonUp:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #a4ffff;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}
.button:focused, .buttonStop:focused, .buttonUp:focused{
    -fx-background-color: #6a6a6a;
}

.button:pressed{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #289de8;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}
.buttonUp:pressed{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #a2e019;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}
.buttonStop:pressed{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #fb582c;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}

.text-area{
    -fx-background-color: transparent;
    -fx-control-inner-background: #4f4f4f;
    -fx-font-family: "Noto Mono";
    -fx-border-color: #00ffc9;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}

.progress-bar {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}
.progress-bar > .track {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}
.progress-bar > .bar {
    -fx-background-color: linear-gradient(to right, #00bce4, #ff5f53);
    -fx-background-radius: 2;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.23em;
}

.dialog-pane {
    -fx-background-color: #4f4f4f;
}
.dialog-pane > .button-bar > .container{
    -fx-background-color: #2d2d2d;
}

.dialog-pane > .label{
    -fx-padding: 10 5 10 5;
}



.regionUpload{
    -fx-shape: "M8,21V19H16V21H8M8,17V15H16V17H8M8,13V11H16V13H8M19,9H5L12,2L19,9Z";
    -fx-background-color: #a2e019;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: 20;
}
.regionStop{
    -fx-shape: "M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z";
    -fx-background-color: #fb582c;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
}
