@font-face {
    src: url("NotoMono-Regular.ttf");
}
.root{
    -fx-background: #2d2d2d;
}

.button, .buttonUp, .buttonStop, .buttonSelect{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #4f4f4f;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
    -fx-effect: none;
}
.button:hover, .buttonStop:hover, .buttonUp:hover, .choice-box:hover, .button:focused:hover, .buttonStop:focused:hover, .buttonUp:focused:hover, .buttonSelect:focused:hover, .choice-box:focused:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #a4ffff;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}
.button:focused, .buttonStop:focused, .buttonUp:focused, .buttonSelect:focused, .choice-box:focused{
    -fx-background-color: #6a6a6a;
    -fx-border-color: #6a6a6a;
}
.button:pressed, .button:pressed:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #e82382;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}
.buttonSelect:pressed, .buttonSelect:pressed:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #289de8;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}
.buttonUp:pressed, .buttonUp:pressed:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #71e016;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}
.buttonStop:pressed, .buttonStop:pressed:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #fb582c;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}

.text-area{
    -fx-background-color: transparent;
    -fx-control-inner-background: #4f4f4f;
    -fx-font-family: "Noto Mono";
    -fx-border-color: #00ffc9;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}

.progress-bar {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}
.progress-bar > .track {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}
.progress-bar > .bar {
    -fx-background-color: linear-gradient(to right, #00bce4, #ff5f53);
    -fx-background-radius: 2;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.23em;
}

.dialog-pane {
    -fx-background-color: #4f4f4f;
}
.dialog-pane > .button-bar > .container{
    -fx-background-color: #2d2d2d;
}

.dialog-pane > .label{
    -fx-padding: 10 5 10 5;
}

.tool-bar{
    -fx-background-color: transparent;
}

.special-pane-as-border{
    -fx-background-color: #f7fafa;
    -fx-min-height: 1;
}
// -======================== Choice box =========================-
.choice-box {
    -fx-background-color: #4f4f4f;
    -fx-border-color: #4f4f4f;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-mark-color: #eea11e;
    -fx-effect: none;
}
.choice-box > .label {
    -fx-text-fill: #f7fafa;
}

.choice-box:pressed, .choice-box:pressed:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #eea11e;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}

// Background color of the whole context menu
.choice-box .context-menu {
    -fx-background-color: #2d2d2d;
}

// Focused item background color in the list
.choice-box .context-menu .menu-item:focused {
    -fx-background-color: #eea11e;

}
.choice-box .context-menu .menu-item:focused .label {
    -fx-text-fill: #2c2c2c;
}


// -======================== TAB PANE =========================-
.tab-pane .tab SVGPath{
    -fx-fill: #f7fafa;
}
.tab-pane .tab:selected SVGPath, .tab-pane .tab:selected:hover SVGPath{
    -fx-fill: #08f3ff;
}
.tab-pane .tab:hover SVGPath{
    -fx-fill: #7effff;
}
.tab-pane .tab{
    -fx-background-color: #424242;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #424242;
}

.tab-pane .tab:selected{
    -fx-background-color: #2d2d2d;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #08f3ff;
}

.tab-pane > .tab-header-area {
    -fx-background-insets: 0.0;
    -fx-padding: 5 5 5 5;
}

.tab-pane > .tab-header-area > .tab-header-background
{
   -fx-background-color: #424242;

}
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 10;
}
// -=========================== TABLE ======================-
.table-view {
    -fx-background-color: #4f4f4f;
    -fx-background-image: url(app_logo.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 3;
    -fx-border-color: #00ffc9;
    -fx-border-radius: 3;
    -fx-border-width: 2;
}
.table-view .arrow {
   -fx-mark-color: #08f3ff ;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0 1 2 0;
    -fx-border-color: #6d8484;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #08f3ff;
}
.table-view .column-header-background, .table-view .filler{
    -fx-background-color: #4f4f4f;
}

.table-view .table-cell{
    -fx-text-fill: #f7fafa;
}
.table-row-cell, .table-row-cell:selected, .table-row-cell:filled:selected{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-table-cell-border-color: #6d8484;
}
.table-row-cell .text, .table-row-cell:odd .text{
    -fx-fill: #f7fafa;
}
.table-row-cell:filled:selected .text, .table-row-cell:odd:filled:selected .text{
    -fx-fill: #08f3ff;
}
.table-row-cell:odd, .table-row-cell:odd:selected, .table-row-cell:odd:filled:selected{
    -fx-background-color: -fx-table-cell-border-color, #4f4f4f;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-table-cell-border-color: #6d8484;
}
// -========================== Context menu =====================-
.context-menu {
  -fx-background-color: #2d2d2d;
  -fx-cursor: hand;
}
.context-menu .menu-item .label {
  -fx-text-fill: #f7fafa;
}
.context-menu .menu-item:focused .label {
  -fx-text-fill: white;
}
// -========================== Text Field =====================-
.text-field {
    -fx-prompt-text-fill: #40596c;
    -fx-border-color: #289de8;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.text-field:focused {
    -fx-border-color: #e82382;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: #08f3ff;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

// -========================== Scroll =====================-
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: #71e016;
}

.scroll-pane > .corner,
.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: #2d2d2d;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:vertical .increment-button {
    -fx-background-color: transparent;
}


.scroll-bar:horizontal .thumb{
    -fx-background-color: #06bdc3;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius : 5;
}
.scroll-bar:horizontal .thumb:hover{
    -fx-background-color: #08f3ff;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius : 5;
}


.scroll-bar:vertical .thumb {
    -fx-background-color: #06bdc3;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius : 5;
}
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #08f3ff;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius : 5;
}
/*-======================= Check Box =====================-*/
.check-box .box, .check-box:selected .box {
    -fx-background-color: #4f4f4f;
    -fx-background-insets: 0 0 0 0, 0, 1, 1;
    -fx-background-radius: 5;
    -fx-border-color: #2d2d2d;
    -fx-border-radius: 3;

}

.check-box:hover .box {
    -fx-background-color: #4f4f4f;
    -fx-background-insets: 0 0 0 0, 0, 1, 1;
    -fx-background-radius: 3;
    -fx-border-color: #a4ffff;
    -fx-border-radius: 3;
}

.check-box:selected .box, .check-box:selected:hover .box {
    -fx-background-color: #eea11e;
}
.check-box:selected .mark, .check-box:selected:hover .mark{
    -fx-background-color: #4f4f4f;
}
/***********************************************************/
.regionUpload{
    -fx-shape: "M 4.0078125,0 C 1.5078125,0 0,1.4882812 0,3.984375 V 15.988281 C 0,18.417969 1.4927148,20 4.0078125,20 H 6.5 V 0 Z M 15,2.9 7,13 h 5 c 0,1.661689 -0.0097,6.246588 -0.0098,7.011719 H 18 V 13 h 5 z M 23.5,0 v 20 c 1.004057,-7.06e-4 1.659943,0 2.492187,0 C 28.414063,20 30,18.496094 30,15.996094 V 3.9765625 C 30,1.5195311 28.508727,0 26.003907,0 Z M 3.1015625,2.9570312 C 4.1485235,2.9562481 4.9977514,3.8046013 4.9980469,4.8515625 4.998831,5.8992865 4.1492865,6.748831 3.1015625,6.7480469 2.0546013,6.7477514 1.2062481,5.8985235 1.2070312,4.8515625 1.2073268,3.8053642 2.0553642,2.9573267 3.1015625,2.9570312 Z M 26.865234,11.148438 c 1.047724,-7.85e-4 1.897269,0.84876 1.896485,1.896484 -2.96e-4,1.046961 -0.849524,1.895314 -1.896485,1.894531 -1.046198,-2.95e-4 -1.894235,-0.848333 -1.894531,-1.894531 -7.83e-4,-1.046961 0.84757,-1.896189 1.894531,-1.896484 z";
    -fx-background-color: #71e016;
    -fx-min-height: 24;
    -fx-min-width: 36;
}
.regionStop{
    -fx-shape: "M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z";
    -fx-background-color: #fb582c;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
}

.regionLamp{
    -fx-shape: "M12,2A7,7 0 0,1 19,9C19,11.38 17.81,13.47 16,14.74V17A1,1 0 0,1 15,18H9A1,1 0 0,1 8,17V14.74C6.19,13.47 5,11.38 5,9A7,7 0 0,1 12,2M9,21V20H15V21A1,1 0 0,1 14,22H10A1,1 0 0,1 9,21M12,4A5,5 0 0,0 7,9C7,11.05 8.23,12.81 10,13.58V16H14V13.58C15.77,12.81 17,11.05 17,9A5,5 0 0,0 12,4Z";
    -fx-background-color: #f7fafa;
    -size: 17.5;
    -fx-min-height: -size;
    -fx-min-width: 12.5;
}
.regionUpdatesCheck {
    -fx-shape: "M19,8L15,12H18A6,6 0 0,1 12,18C11,18 10.03,17.75 9.2,17.3L7.74,18.76C8.97,19.54 10.43,20 12,20A8,8 0 0,0 20,12H23M6,12A6,6 0 0,1 12,6C13,6 13.97,6.25 14.8,6.7L16.26,5.24C15.03,4.46 13.57,4 12,4A8,8 0 0,0 4,12H1L5,16L9,12";
    -fx-background-color: #f7fafa;
    -size: 17.5;
    -fx-min-width: 20;
}