@font-face {
    src: url("NotoMono-Regular.ttf");
}
.root{
    -fx-background: #2d2d2d;
}

.button, .buttonUp, .buttonStop, .buttonSelect{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #4f4f4f;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
    -fx-effect: none;
}
.button:hover, .buttonStop:hover, .buttonUp:hover, .choice-box:hover, .button:focused:hover, .buttonStop:focused:hover, .buttonUp:focused:hover, .buttonSelect:focused:hover, .choice-box:focused:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #a4ffff;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}
.button:focused, .buttonStop:focused, .buttonUp:focused, .buttonSelect:focused, .choice-box:focused{
    -fx-background-color: #6a6a6a;
    -fx-border-color: #6a6a6a;
}
.button:pressed, .button:pressed:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #e82382;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}
.buttonSelect:pressed, .buttonSelect:pressed:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #289de8;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}
.buttonUp:pressed, .buttonUp:pressed:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #71e016;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}
.buttonStop:pressed, .buttonStop:pressed:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #fb582c;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}

.text-area{
    -fx-background-color: transparent;
    -fx-control-inner-background: #4f4f4f;
    -fx-font-family: "Noto Mono";
    -fx-border-color: #00ffc9;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}

.progress-bar {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}
.progress-bar > .track {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}
.progress-bar > .bar {
    -fx-background-color: linear-gradient(to right, #00bce4, #ff5f53);
    -fx-background-radius: 2;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.23em;
}

.progress-indicator {
    -fx-progress-color: #00bce4;
}

.dialog-pane {
    -fx-background-color: #4f4f4f;
}
.dialog-pane > .button-bar > .container{
    -fx-background-color: #2d2d2d;
}

.dialog-pane > .label{
    -fx-padding: 10 5 10 5;
}

.tool-bar{
    -fx-background-color: transparent;
}
/* -======================== Choice box =========================- */
.choice-box {
    -fx-background-color: #4f4f4f;
    -fx-border-color: #4f4f4f;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-mark-color: #eea11e;
    -fx-effect: none;
}
.choice-box .arrow{
    -fx-background-color: #eea11e;
}
.choice-box > .label {
    -fx-text-fill: #f7fafa;
}

.choice-box:pressed, .choice-box:pressed:hover{
    -fx-background-color: #4f4f4f;
    -fx-border-color: #eea11e;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #f7fafa;
}

// Background color of the whole context menu
.choice-box .context-menu {
    -fx-background-color: #2d2d2d;
}

// Focused item background color in the list
.choice-box .context-menu .menu-item:focused {
    -fx-background-color: #eea11e;

}
.choice-box .context-menu .menu-item:focused .label {
    -fx-text-fill: #2c2c2c;
}


/* -======================== TAB PANE =========================- */
.tab-pane .tab SVGPath{
    -fx-fill: #f7fafa;
}
.tab-pane .tab:selected SVGPath, .tab-pane .tab:selected:hover SVGPath{
    -fx-fill: #08f3ff;
}
.tab-pane .tab:hover SVGPath{
    -fx-fill: #7effff;
}
.tab-pane .tab{
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: transparent;
}

.tab-pane .tab:selected{
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #08f3ff;
}

.tab-pane > .tab-header-area {
    -fx-background-insets: 0.0;
    -fx-padding: 5 5 5 5;
}

.tab-pane > .tab-header-area > .tab-header-background
{
   -fx-background-color: linear-gradient(to right, #2d2d2d 0%, #343434 7.5%, #343434 100%); //#424242; //
}
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 10;
}
// -=========================== TABLE ======================-
.table-view {
    -fx-background-color: #4f4f4f;
    -fx-background-image: url(app_logo.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 3;
    -fx-border-color: #00ffc9;
    -fx-border-radius: 3;
    -fx-border-width: 2;
}
.table-view .arrow {
   -fx-mark-color: #08f3ff ;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0 1 2 0;
    -fx-border-color: #6d8484;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #08f3ff;
}
.table-view .column-header-background, .table-view .filler{
    -fx-background-color: #4f4f4f;
}

.table-view .table-cell{
    -fx-text-fill: #f7fafa;
}

.table-row-cell, .table-row-cell:selected, .table-row-cell:filled:selected{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-table-cell-border-color: #6d8484;
}
.table-row-cell .text, .table-row-cell:odd .text{
    -fx-fill: #f7fafa;
}
.table-row-cell:filled:selected .text, .table-row-cell:odd:filled:selected .text{
    -fx-fill: #08f3ff;
}
.table-row-cell:odd, .table-row-cell:odd:selected, .table-row-cell:odd:filled:selected{
    -fx-background-color: -fx-table-cell-border-color, #4f4f4f;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-table-cell-border-color: #6d8484;
}
/* -========================== ListView =====================- */
.list-view {
    -fx-background-color: #4f4f4f;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 3;
    -fx-border-color: #00ffc9;
    -fx-border-radius: 3;
    -fx-border-width: 2;
}

.list-cell, .list-cell:selected, .list-cell:filled:selected{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: #6d8484;
}
.list-cell:odd, .list-cell:odd:selected, .list-cell:odd:filled:selected{
    -fx-background-color: -fx-table-cell-border-color, #4f4f4f;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: #6d8484;
}

.list-cell .text, .list-cell:odd .text{
    -fx-fill: #f7fafa;
}
.list-cell:filled:selected .text, .list-cell:odd:filled:selected .text{
    -fx-fill: #08f3ff;
}
/* -========================== Context menu =====================- */
.context-menu {
  -fx-background-color: #2d2d2d;
  -fx-cursor: hand;
}
.context-menu .menu-item .label {
  -fx-text-fill: #f7fafa;
}
.context-menu .menu-item:focused .label {
  -fx-text-fill: white;
}
/* -========================== Text Field =====================- */
.text-field {
    -fx-prompt-text-fill: #40596c;
    -fx-border-color: #289de8;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.text-field:focused {
    -fx-border-color: #e82382;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: #08f3ff;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}
/* -========================= Separator ===================- */
.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #3a3738;
}
.strangeSeparator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #f7fafa;
}
/* -========================== Scroll =====================- */
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: #71e016;
}

.scroll-pane > .corner,
.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: #2d2d2d;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:vertical .increment-button {
    -fx-background-color: transparent;
}


.scroll-bar:horizontal .thumb{
    -fx-background-color: #06bdc3;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius : 5;
}
.scroll-bar:horizontal .thumb:hover{
    -fx-background-color: #08f3ff;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius : 5;
}


.scroll-bar:vertical .thumb {
    -fx-background-color: #06bdc3;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius : 5;
}
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #08f3ff;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius : 5;
}
/*-======================= Check Box =====================-*/
.check-box .box, .check-box:selected .box {
    -fx-background-color: #4f4f4f;
    -fx-background-insets: 0 0 0 0, 0, 1, 1;
    -fx-background-radius: 5;
    -fx-border-color: #2d2d2d;
    -fx-border-radius: 3;
}

.check-box:hover .box {
    -fx-background-color: #4f4f4f;
    -fx-background-insets: 0 0 0 0, 0, 1, 1;
    -fx-background-radius: 3;
    -fx-border-color: #a4ffff;
    -fx-border-radius: 3;
}

.check-box:selected .box, .check-box:selected:hover .box {
    -fx-background-color: #eea11e;
}
.check-box:selected .mark, .check-box:selected:hover .mark{
    -fx-background-color: #4f4f4f;
}
/*-======================= Radio Button =====================-*/
.radio-button .radio, .radio-button:selected .radio {
    -fx-background-color: #4f4f4f;
    -fx-background-insets: 0 0 0 0, 0, 1, 1;
    -fx-background-radius: 45;
    -fx-border-color: transparent;
    -fx-border-radius: 45;
}

.radio-button:hover .radio {
    -fx-background-color: #4f4f4f;
    -fx-background-insets: 0 0 0 0, 0, 1, 1;
    -fx-background-radius: 45;
    -fx-border-color: #a4ffff;
    -fx-border-radius: 45;
}

.radio-button:selected .radio, .radio-button:selected:hover .radio {
    -fx-background-color: #71e016;
}
.radio-button:selected .dot, .radio-button:selected:hover .dot{
    -fx-background-color: #2d2d2d;
    -fx-shape: "M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z";
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
/***********************************************************/
.regionSplitToOne {
    -fx-shape: "m 3,23 c -1.104569,0 -2,0.895431 -2,2 v 16 c 0,1.1 0.89,2 2,2 h 12 c 1.104569,0 2,-0.895431 2,-2 V 25 c 0,-1.095153 -0.910156,-2 -2,-2 z m 39.400391,0 C 41.068391,23 40,24.1125 40,25.5 v 15 A 2.4,2.5 0 0 0 42.400391,43 H 61.599609 A 2.4,2.5 0 0 0 64,40.5 V 28 c 0,-1.3875 -1.080391,-2.5 -2.400391,-2.5 H 52 L 49.599609,23 Z M 5.099609,24.199219 h 7.800782 c 0.1,0.0021 0.09961,0.0018 0.09961,0.101562 v 0.09961 c -10e-7,0.09583 3.91e-4,0.09753 -0.09961,0.09961 H 5.099609 c -0.1,0.0057 -0.09961,0.004 -0.09961,-0.09961 v -0.09961 c 0,-0.09974 -3.91e-4,-0.103386 0.09961,-0.101562 z M 29,24.75 v 4 h -8 v 8 h 8 v 4 l 8,-8 z M 3,25 h 12 c 0.303385,0 0.5,0.204427 0.5,0.5 v 13 C 15.5,38.789959 15.29836,39 15,39 H 3 C 2.704427,39 2.5,38.803385 2.5,38.5 v -13 C 2.5,25.208333 2.71224,25 3,25 Z m 50.193359,6.962891 c 0.920139,0 1.620877,0.38585 2.103516,1.160156 0.482639,0.770833 0.724609,1.812066 0.724609,3.121094 0,1.3125 -0.24197,2.3546 -0.724609,3.128906 -0.482639,0.770833 -1.183377,1.15625 -2.103516,1.15625 -0.916666,0 -1.617404,-0.385417 -2.103515,-1.15625 -0.482639,-0.774306 -0.72461,-1.816406 -0.72461,-3.128906 0,-1.309028 0.241971,-2.350261 0.72461,-3.121094 0.486111,-0.774306 1.186849,-1.160156 2.103515,-1.160156 z m 6.396485,0 c 0.920139,0 1.620876,0.38585 2.103515,1.160156 0.482639,0.770833 0.72461,1.812066 0.72461,3.121094 0,1.3125 -0.241971,2.3546 -0.72461,3.128906 -0.482639,0.770833 -1.183376,1.15625 -2.103515,1.15625 -0.916667,0 -1.619358,-0.385417 -2.105469,-1.15625 -0.482639,-0.774306 -0.722656,-1.816406 -0.722656,-3.128906 0,-1.309028 0.240017,-2.350261 0.722656,-3.121094 0.486111,-0.774306 1.188802,-1.160156 2.105469,-1.160156 z m -10.025391,0.52539 h 0.01953 l -0.01953,0.01758 z m 3.628906,0.28125 c -0.579861,0 -1.020182,0.322917 -1.322265,0.96875 -0.302084,0.642361 -0.453125,1.457683 -0.453125,2.447266 0,0.225694 0.0056,0.470052 0.01953,0.730469 0.01389,0.260416 0.07357,0.612196 0.177734,1.05664 l 2.796875,-4.380859 c -0.177083,-0.322917 -0.369791,-0.53928 -0.578125,-0.650391 -0.204861,-0.114583 -0.418402,-0.171875 -0.640624,-0.171875 z m 6.396485,0 c -0.579861,0 -1.022136,0.322917 -1.324219,0.96875 -0.302083,0.642361 -0.453125,1.457683 -0.453125,2.447266 0,0.225694 0.0076,0.470052 0.02148,0.730469 0.01389,0.260416 0.07357,0.612196 0.177735,1.05664 l 2.796875,-4.380859 c -0.17708,-0.322917 -0.369788,-0.53928 -0.578121,-0.650391 -0.204861,-0.114583 -0.418403,-0.171875 -0.640625,-0.171875 z m -4.828125,1.78711 -2.777344,4.40625 c 0.149306,0.253472 0.321181,0.443793 0.515625,0.572265 0.194444,0.125 0.41276,0.1875 0.652344,0.1875 0.659722,0 1.128472,-0.367404 1.40625,-1.103515 0.277778,-0.739584 0.416015,-1.559679 0.416015,-2.458985 0,-0.555555 -0.07053,-1.089626 -0.21289,-1.603515 z m 6.394531,0 -2.775391,4.40625 c 0.149306,0.253472 0.321181,0.443793 0.515625,0.572265 0.194445,0.125 0.410808,0.1875 0.650391,0.1875 0.659722,0 1.128472,-0.367404 1.40625,-1.103515 0.277778,-0.739584 0.417969,-1.559679 0.417969,-2.458985 0,-0.555555 -0.07248,-1.089626 -0.214844,-1.603515 z M 6,40 h 6 l -3,2 z";
    -fx-min-height: 20;
    -fx-min-width: 64;
    -fx-background-color: #71e016;
}

.regionOneToSplit {
    -fx-shape: "M 50 1 C 48.895431 1 48 1.895431 48 3 L 48 19 C 48 20.1 48.89 21 50 21 L 62 21 C 63.104569 21 64 20.104569 64 19 L 64 3 C 64 1.904847 63.089844 1 62 1 L 50 1 z M 3.4160156 1.0371094 C 2.0840156 1.0371094 1.015625 2.1496094 1.015625 3.5371094 L 1.015625 18.537109 A 2.4 2.5 0 0 0 3.4160156 21.037109 L 22.615234 21.037109 A 2.4 2.5 0 0 0 25.015625 18.537109 L 25.015625 6.0371094 C 25.015625 4.6496094 23.935234 3.5371094 22.615234 3.5371094 L 13.015625 3.5371094 L 10.615234 1.0371094 L 3.4160156 1.0371094 z M 52.099609 2.1992188 L 59.900391 2.1992188 C 60.000391 2.2013185 60 2.2010194 60 2.3007812 L 60 2.4003906 C 59.999999 2.4962206 60.000391 2.49792 59.900391 2.5 L 52.099609 2.5 C 51.999609 2.5057 52 2.5040006 52 2.4003906 L 52 2.3007812 C 52 2.2010414 51.999609 2.1973947 52.099609 2.1992188 z M 37 3 L 37 7 L 29 7 L 29 15 L 37 15 L 37 19 L 45 11 L 37 3 z M 50 3 L 62 3 C 62.303385 3 62.5 3.204427 62.5 3.5 L 62.5 16.5 C 62.5 16.789959 62.29836 17 62 17 L 50 17 C 49.704427 17 49.5 16.803385 49.5 16.5 L 49.5 3.5 C 49.5 3.208333 49.71224 3 50 3 z M 14.208984 10 C 15.129123 10 15.829861 10.38585 16.3125 11.160156 C 16.795139 11.930989 17.037109 12.972222 17.037109 14.28125 C 17.037109 15.59375 16.795139 16.63585 16.3125 17.410156 C 15.829861 18.180989 15.129123 18.566406 14.208984 18.566406 C 13.292318 18.566406 12.59158 18.180989 12.105469 17.410156 C 11.62283 16.63585 11.380859 15.59375 11.380859 14.28125 C 11.380859 12.972222 11.62283 11.930989 12.105469 11.160156 C 12.59158 10.38585 13.292318 10 14.208984 10 z M 20.605469 10 C 21.525608 10 22.226345 10.38585 22.708984 11.160156 C 23.191623 11.930989 23.433594 12.972222 23.433594 14.28125 C 23.433594 15.59375 23.191623 16.63585 22.708984 17.410156 C 22.226345 18.180989 21.525608 18.566406 20.605469 18.566406 C 19.688802 18.566406 18.986111 18.180989 18.5 17.410156 C 18.017361 16.63585 17.777344 15.59375 17.777344 14.28125 C 17.777344 12.972222 18.017361 11.930989 18.5 11.160156 C 18.986111 10.38585 19.688802 10 20.605469 10 z M 14.208984 10.806641 C 13.629123 10.806641 13.188802 11.129558 12.886719 11.775391 C 12.584635 12.417752 12.433594 13.233073 12.433594 14.222656 C 12.433594 14.44835 12.439195 14.692708 12.453125 14.953125 C 12.467015 15.213541 12.526695 15.565322 12.630859 16.009766 L 15.427734 11.628906 C 15.250651 11.305989 15.057943 11.089627 14.849609 10.978516 C 14.644748 10.863933 14.431206 10.806641 14.208984 10.806641 z M 20.605469 10.806641 C 20.025608 10.806641 19.583333 11.129558 19.28125 11.775391 C 18.979167 12.417752 18.828125 13.233073 18.828125 14.222656 C 18.828125 14.44835 18.835729 14.692708 18.849609 14.953125 C 18.863499 15.213541 18.923179 15.565322 19.027344 16.009766 L 21.824219 11.628906 C 21.647139 11.305989 21.454427 11.089627 21.246094 10.978516 C 21.041233 10.863933 20.827691 10.806641 20.605469 10.806641 z M 15.777344 12.59375 L 13 17 C 13.149306 17.253472 13.321181 17.443794 13.515625 17.572266 C 13.710069 17.697266 13.928385 17.759766 14.167969 17.759766 C 14.827691 17.759766 15.296441 17.392361 15.574219 16.65625 C 15.851997 15.916666 15.990234 15.096572 15.990234 14.197266 C 15.990234 13.641711 15.919704 13.107639 15.777344 12.59375 z M 22.171875 12.59375 L 19.396484 17 C 19.54579 17.253472 19.717665 17.443794 19.912109 17.572266 C 20.106554 17.697266 20.322917 17.759766 20.5625 17.759766 C 21.222222 17.759766 21.690972 17.392361 21.96875 16.65625 C 22.246528 15.916666 22.386719 15.096572 22.386719 14.197266 C 22.386719 13.641711 22.314239 13.107639 22.171875 12.59375 z M 53 18 L 59 18 L 56 20 L 53 18 z";
    -fx-min-height: 20;
    -fx-min-width: 64;
    -fx-background-color: #71e016;
}
.regionUpload{
    -fx-shape: "M 4.0078125,0 C 1.5078125,0 0,1.4882812 0,3.984375 V 15.988281 C 0,18.417969 1.4927148,20 4.0078125,20 H 6.5 V 0 Z M 15,2.9 7,13 h 5 c 0,1.661689 -0.0097,6.246588 -0.0098,7.011719 H 18 V 13 h 5 z M 23.5,0 v 20 c 1.004057,-7.06e-4 1.659943,0 2.492187,0 C 28.414063,20 30,18.496094 30,15.996094 V 3.9765625 C 30,1.5195311 28.508727,0 26.003907,0 Z M 3.1015625,2.9570312 C 4.1485235,2.9562481 4.9977514,3.8046013 4.9980469,4.8515625 4.998831,5.8992865 4.1492865,6.748831 3.1015625,6.7480469 2.0546013,6.7477514 1.2062481,5.8985235 1.2070312,4.8515625 1.2073268,3.8053642 2.0553642,2.9573267 3.1015625,2.9570312 Z M 26.865234,11.148438 c 1.047724,-7.85e-4 1.897269,0.84876 1.896485,1.896484 -2.96e-4,1.046961 -0.849524,1.895314 -1.896485,1.894531 -1.046198,-2.95e-4 -1.894235,-0.848333 -1.894531,-1.894531 -7.83e-4,-1.046961 0.84757,-1.896189 1.894531,-1.896484 z";
    -fx-background-color: #71e016;
    -fx-min-height: 24;
    -fx-min-width: 36;
}
.regionDump{
    -fx-shape: "M 4.0078125 0 C 1.5078125 0 0 1.4882812 0 3.984375 L 0 15.988281 C 0 18.417969 1.4927148 20 4.0078125 20 L 6.5 20 L 6.5 0 L 4.0078125 0 z M 23.5 0 L 23.5 20 C 24.504057 19.999294 25.159942 20 25.992188 20 C 28.414062 20 30 18.496094 30 15.996094 L 30 3.9765625 C 30 1.5195311 28.508726 0 26.003906 0 L 23.5 0 z M 11.990234 2.8886719 L 11.990234 9.9003906 L 6.9902344 9.9003906 L 14.990234 20 L 22.990234 9.9003906 L 17.990234 9.9003906 C 17.990234 8.2387016 17.9999 3.6538029 18 2.8886719 L 11.990234 2.8886719 z M 3.1015625 2.9570312 C 4.1485235 2.9562481 4.9977514 3.8046013 4.9980469 4.8515625 C 4.998831 5.8992865 4.1492865 6.7488309 3.1015625 6.7480469 C 2.0546013 6.7477509 1.2062483 5.8985235 1.2070312 4.8515625 C 1.2073268 3.8053642 2.0553642 2.9573267 3.1015625 2.9570312 z M 26.865234 11.148438 C 27.912958 11.147652 28.762503 11.997198 28.761719 13.044922 C 28.761423 14.091883 27.912195 14.940236 26.865234 14.939453 C 25.819036 14.939158 24.970999 14.09112 24.970703 13.044922 C 24.96992 11.997961 25.818273 11.148733 26.865234 11.148438 z ";
    -fx-background-color: #71e016;
    -fx-min-height: 24;
    -fx-min-width: 36;
}
.regionStop{
    -fx-shape: "M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z";
    -fx-background-color: #fb582c;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
}

.regionLamp{
    -fx-shape: "M12,2A7,7 0 0,1 19,9C19,11.38 17.81,13.47 16,14.74V17A1,1 0 0,1 15,18H9A1,1 0 0,1 8,17V14.74C6.19,13.47 5,11.38 5,9A7,7 0 0,1 12,2M9,21V20H15V21A1,1 0 0,1 14,22H10A1,1 0 0,1 9,21M12,4A5,5 0 0,0 7,9C7,11.05 8.23,12.81 10,13.58V16H14V13.58C15.77,12.81 17,11.05 17,9A5,5 0 0,0 12,4Z";
    -fx-background-color: #f7fafa;
    -size: 17.5;
    -fx-min-height: -size;
    -fx-min-width: 12.5;
}
.regionUpdatesCheck {
    -fx-shape: "M19,8L15,12H18A6,6 0 0,1 12,18C11,18 10.03,17.75 9.2,17.3L7.74,18.76C8.97,19.54 10.43,20 12,20A8,8 0 0,0 20,12H23M6,12A6,6 0 0,1 12,6C13,6 13.97,6.25 14.8,6.7L16.26,5.24C15.03,4.46 13.57,4 12,4A8,8 0 0,0 4,12H1L5,16L9,12";
    -fx-background-color: #f7fafa;
    -size: 17.5;
    -fx-min-width: 20;
}
.nxdt.label .text {
    -fx-fill: #cb0010;
}

.regionWindows {
    -fx-shape: "M3,12V6.75L9,5.43V11.91L3,12M20,3V11.75L10,11.9V5.21L20,3M3,13L9,13.09V19.9L3,18.75V13M20,13.25V22L10,20.09V13.1L20,13.25Z";
    -fx-background-color: #f7fafa;
    -size: 17.5;
    -fx-min-height: -size;
    -fx-min-width: 17.5;
}
.regionSelectFiles {
    -fx-shape: "M 8,0 C 6.8954305,0 6,0.8954305 6,2 v 16 c 0,1.1 0.89,2 2,2 h 12 c 1.104569,0 2,-0.895431 2,-2 V 2 C 22,0.90484721 21.089844,0 20,0 Z m 2.1,1.2 h 7.8 C 18,1.20208 18,1.2002604 18,1.3 v 0.1 c 0,0.095833 0,0.097917 -0.1,0.1 H 10.1 C 10,1.5057292 10,1.5036458 10,1.4 V 1.3 C 10,1.20026 10,1.1981771 10.1,1.2 Z M 8,2 h 12 c 0.303385,0 0.5,0.2044271 0.5,0.5 v 12 C 20.5,14.789959 20.29836,15 20,15 H 8 C 7.7044271,15 7.5,14.803385 7.5,14.5 V 2.5 C 7.5,2.2083333 7.7122396,2 8,2 Z M 2,4 v 18 c 0,1.104569 0.8954305,2 2,2 H 20 V 22 H 4 V 4 Z m 8,12 h 8 l -4,3 z";
    -fx-background-color: #289de8;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: 20;
}
.regionScanFolders {
    -fx-shape: "M16.5,12C19,12 21,14 21,16.5C21,17.38 20.75,18.21 20.31,18.9L23.39,22L22,23.39L18.88,20.32C18.19,20.75 17.37,21 16.5,21C14,21 12,19 12,16.5C12,14 14,12 16.5,12M16.5,14A2.5,2.5 0 0,0 14,16.5A2.5,2.5 0 0,0 16.5,19A2.5,2.5 0 0,0 19,16.5A2.5,2.5 0 0,0 16.5,14M9,4L11,6H19A2,2 0 0,1 21,8V11.81C19.83,10.69 18.25,10 16.5,10A6.5,6.5 0 0,0 10,16.5C10,17.79 10.37,19 11,20H3C1.89,20 1,19.1 1,18V6C1,4.89 1.89,4 3,4H9Z";
    -fx-background-color: #289de8;
    -size: 22;
    -fx-min-height: -size;
    -fx-min-width: 24;
}
//
//.lineGradient {
//    -fx-background-color: linear-gradient(from 41px 34px to 50px 50px, reflect,  #00c8fc 30%, transparent  45%);
//}