@font-face {
    src: url("NotoMono-Regular.ttf");
}
.root{
    -fx-background: #ebebeb;
}

.button, .buttonUp, .buttonStop, .buttonSelect{
    -fx-background-color: #fefefe;
    -fx-border-color: #fefefe;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #2c2c2c;
    -fx-effect: dropshadow(three-pass-box, #b4b4b4, 2, 0, 0, 0);
    
}
.button:hover, .buttonStop:hover, .buttonUp:hover, .choice-box:hover, .button:focused:hover, .buttonStop:focused:hover, .buttonUp:focused:hover, .buttonSelect:focused:hover .choice-box:focused:hover{
    -fx-background-color: #fefefe;
    -fx-border-color: #00caca;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #2c2c2c;
}
.button:focused, .buttonStop:focused, .buttonUp:focused, .buttonSelect:focused, .choice-box:focused{
    -fx-background-color: #cccccc;
    -fx-border-color: #cccccc;
}

.button:pressed, .button:pressed:hover{
    -fx-background-color: #fefefe;
    -fx-border-color: #e82382;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #2c2c2c;
}
.buttonSelect:pressed, .buttonSelect:pressed:hover{
    -fx-background-color: #fefefe;
    -fx-border-color: #289de8;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #2c2c2c;
}
.buttonUp:pressed, .buttonUp:pressed:hover{
    -fx-background-color: #fefefe;
    -fx-border-color: #a2e019;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #2c2c2c;
}
.buttonStop:pressed, .buttonStop:pressed:hover{
    -fx-background-color: #fefefe;
    -fx-border-color: #fb582c;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #2c2c2c;
}
// -========================+ TextArea =====================-
.text-area{
    -fx-background-color: transparent;
    -fx-control-inner-background: #fefefe;
    -fx-font-family: "Noto Mono";
    -fx-border-color: #06b9bb;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #2c2c2c;
}

.progress-bar {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}
.progress-bar > .track {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}
.progress-bar > .bar {
    -fx-background-color: linear-gradient(to right, #00bce4, #ff5f53);
    -fx-background-radius: 2;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.23em;
}

.dialog-pane {
    -fx-background-color: #fefefe;
}
.dialog-pane > .button-bar > .container{
    -fx-background-color: #2d2d2d;
}

.dialog-pane > .label{
    -fx-padding: 10 5 10 5;
}

.tool-bar{
    -fx-background-color: transparent;
}

.special-pane-as-border{
    -fx-background-color: #2c2c2c;
    -fx-min-height: 1;
}

.choice-box {
    -fx-background-color: #fefefe;
    -fx-border-color: #fefefe;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-mark-color: #eea11e;
    -fx-effect: dropshadow(three-pass-box, #b4b4b4, 2, 0, 0, 0);
}
.choice-box > .label {
    -fx-text-fill: #2c2c2c;
}

.choice-box:pressed, .choice-box:pressed:hover{
    -fx-background-color: #fefefe;
    -fx-border-color: #eea11e;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-text-fill: #2c2c2c;
}

// Background color of the whole context menu
.choice-box .context-menu { -fx-background-color: #fefefe; }
// Focused item background color in the list
.choice-box .menu-item:focused { -fx-background-color: #eea11e; }
// Text color of non-focused items in the list
.choice-box .menu-item > .label { -fx-text-fill: #2c2c2c; }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: #2d2d2d; }

// -======================== TAB PANE =========================-
.tab-pane .tab SVGPath{
    -fx-fill: #2c2c2c;                                      // OK
}
.tab-pane .tab:selected SVGPath{
    -fx-fill: #289de8;                                      // OK
}
.tab-pane .tab{
    -fx-background-color: #fefefe;                          //ok
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #fefefe;                               //OK
}

.tab-pane .tab:selected{
    -fx-background-color: #ebebeb;                          // OK
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #289de8;                              // OK
}

.tab-pane > .tab-header-area {
    -fx-background-insets: 0.0;
    -fx-padding: 5 5 5 5;
}

.tab-pane > .tab-header-area > .tab-header-background
{
   -fx-background-color: #fefefe;                       // OK

}
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 10;
}
// -=========================== TABLE ======================-
.table-view {
    -fx-background-color: #fefefe;
    -fx-background-image: url(app_logo.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #06b9bb;
    -fx-border-radius: 3;
    -fx-border-width: 2;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #2c2c2c;
}
.table-view .column-header-background, .table-view .filler{
    -fx-background-color: #fefefe;
}

.table-view .table-cell{
    -fx-text-fill: #2c2c2c;
}
.table-row-cell, .table-row-cell:filled:selected, .table-row-cell:selected{
    -fx-background-color: -fx-table-cell-border-color, #d3fffd;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-table-cell-border-color: #2c2c2c;
}

.table-row-cell:odd, .table-row-cell:odd:filled:selected, .table-row-cell:odd:selected{
    -fx-background-color: -fx-table-cell-border-color, #fefefe;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-table-cell-border-color: #2c2c2c;
}
// -========================== Context menu =====================-
.context-menu {
  -fx-background-color: #fefefe;
  -fx-text-fill: white;
  -fx-cursor: hand;
}
.context-menu .menu-item .label {
  -fx-text-fill: #2c2c2c;
}
.context-menu .menu-item:focused .label {
  -fx-text-fill: #2c2c2c;
}





.regionUpload{
    -fx-shape: "M8,21V19H16V21H8M8,17V15H16V17H8M8,13V11H16V13H8M19,9H5L12,2L19,9Z";
    -fx-background-color: #a2e019;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: 20;
}

.regionStop{
    -fx-shape: "M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z";
    -fx-background-color: #fb582c;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
}

.regionLamp {
    -fx-shape: "M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z";
    -fx-background-color: #2c2c2c;
    -size: 17.5;
    -fx-min-height: -size;
    -fx-min-width: 12.5;
}